* text=auto
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary

*.css text eol=lf diff=css
*.html text eol=lf diff=html
*.js text eol=lf diff=js
*.md text eol=lf
*.py text eol=lf diff=py
*.txt text eol=lf

*.css filter=tabs2spaces
*.html filter=tabs2spaces
*.js filter=tabs2spaces
*.py filter=tabs2spaces
*.css filter=trimWhitespace
*.html filter=trimWhitespace
*.js filter=trimWhitespace
*.py filter=trimWhitespace